* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "houschka-rounded", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.page:nth-child(1) {
    background-color: rgba(255, 0, 0, 0);
    height: 100%;
    width: 100%;
    z-index: 1;
}

header {
    background-color: black;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

header a {
    text-decoration: none;
    color: white;
    margin-left: 2%;
    font-size: 20px;
}

#i1 {
    margin-left: 5%;
}

.nav2 {
    margin-left: 17%;
    margin-top: -2.8%;
}

.nav3 {
    margin-top: -1.7%;
    margin-left: 74%;
}

.nav3 a {
    margin-left: 4%;
}

#i2 {
    margin-top: -5.2%;
    margin-left: 95%;
}

#v1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    position: fixed;
}


.page:nth-child(2) {
    background-color: white;
    height: 140%;
    width: 100%;
    z-index: 1;
}
#p21 {
    font-size: 50px;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}

#i3 {
    height: 50%;
    width: 30%;
    margin-left: 5%;
    border-radius: 5px;
}

#p22 {
    font-size: 45px;
    margin-left: 5%;
    margin-right: 65%;
    margin-top: 2%;
}

#p23 {
    font-size: 20px;
    margin-top: 2%;
    font-weight: 400;
    margin-left: 5%;
    margin-right: 64%;
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#p24 {
    font-family: "area-normal", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    margin-left: 5%;
    margin-top: 3%;
}

#p25 {
    font-size: 25px;
    font-weight: 600;
    margin-top: -2.5%;
    margin-left: 34%;
}
#i4 {
    height: 48%;
    width: 28%;
    margin-top: -73%;
    margin-bottom: 27%;
    margin-left: 38%;
    border-radius: 5px;
}
#p26
{
    font-size: 45px;
    margin-left: 38%;
    margin-top: -25%;
    margin-right: 32%;
}
#p27
{
    font-size: 20px;
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 38%;
    margin-right: 32%;
    margin-top: 2%;
}
#p28
{
    font-family: "area-normal", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    margin-left: 38%;
    margin-top: 3%;
}
#p29
{
    font-size: 25px;
    font-weight: 600;
    margin-top: -2.5%;
    margin-left: 65%;
}

#i5
{
    margin-top: -41.75%;
    height: 48%;
    width: 28%;
    margin-bottom: 40%;
    margin-left: 69%;
    border-radius: 5px;
}
#p210
{
    font-size: 45px;
    margin-left: 69%;
    margin-top: -38%;
    margin-right:3%
}
#p211
{
    font-size: 20px;
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 3%;
    margin-left: 69%;
    margin-top: 2%;
}
#p212
{
    font-family: "area-normal", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    margin-left: 69%;
    margin-top: 5.3%;
}
#p213
{
    font-size: 25px;
    font-weight: 600;
    margin-top: -2.5%;
    margin-left: 95%;
}


.page:nth-child(3) {
    background-color: black;
    height: 110%;
    width: 100%;
}
#p31
{
    color: white;
    font-size: 50px;
    padding-bottom: 5%;
    padding: 5%;
    padding-top: 5%;
}
#i6
{
    margin-left: 5%;
    height: 50%;
    width: 30%;
}
.q11
{
    background-color: #333737;
    width: 453px;
    margin-left: 5%;
    margin-top: -0.3%;
    height: 200px;
}
#p32
{
    color: white;
    font-size: 35px;
    padding-top: 3%;
    padding-left: 2%;
}
#p33
{
    color: white;
    font-size: 23px;
    margin-left: 2%;
    margin-right: 10%;
    margin-top: 5%;
}
#p34
{
    background-color: #0076df;
    border: none;
    border-radius: 90%;
    padding-top:1.3%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.3%;
    font-size: 25px;
    color: white;
    margin-left: 80%;
}

#i7
{
    margin-top: -60%;
    margin-bottom: 14.3%;
    height: 50%;
    width: 30%;
    margin-left: 37%;
}
.q21
{
    background-color: #333737;
    width: 454px;
    margin-left: 37%;
    margin-top: -14.6%;
    height: 201px;
}
#p35
{
    color: white;
    font-size: 35px;
    padding-top: 3%;
    padding-left: 2%;
}
#p36
{
    color: white;
    font-size: 23px;
    margin-left: 2%;
    margin-right: 10%;
    margin-top: 5%;
}
#p37
{
    background-color: #0076df;
    border: none;
    border-radius: 90%;
    padding-top:1.3%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.3%;
    font-size: 25px;
    color: white;
    margin-left: 80%;
}
#i8
{
    margin-top: -60%;
    margin-bottom: 14.3%;
    height: 50%;
    width: 30%;
    margin-left: 69%;
}
.q31
{
    background-color: #333737;
    width: 454px;
    margin-left: 69%;
    margin-top: -14.6%;
    height: 201px;
}
#p38
{
    color: white;
    font-size: 35px;
    padding-top: 3%;
    padding-left: 2%;
}
#p39
{
    color: white;
    font-size: 23px;
    margin-left: 2%;
    margin-right: 10%;
    margin-top: 5%;
}
#p310
{
    background-color: #0076df;
    border: none;
    border-radius: 90%;
    padding-top:1.3%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.3%;
    font-size: 25px;
    color: white;
    margin-left: 80%;
}


.page:nth-child(4) {
    background-color: white;
    height: 125%;
    width: 100%;
}
#p41
{
    font-size: 37px;
    padding: 5%;
}
#i9
{
    margin-left: 5%;
    width: 30%;
    height: 150%;
}
.r11
{
    margin-left: 6%;
    margin-top: 1%;
    color: black;
}
#p42
{
    font-size: 30px;
    margin-top: 1%;
}
#p43
{
    font-size: 20px;
    margin-right: 75%;
    margin-top: 1%;
}
#p44
{
    font-size: 20px;
    margin-top: 2%;
}

#i10
{
    margin-left: 37%;
    width: 453px;
    height: 432px;
    margin-top: -40%;
    margin-bottom: 70%;
    object-fit: cover;
    object-position: center;
}
.r21
{
    margin-left: 38%;
    margin-top: -69.2%;
    color: black;
}
#p45
{
    font-size: 30px;
}
#p46
{
    font-size: 20px;
    margin-right: 60%;
    margin-top: 1%;
}
#p47
{
    font-size: 20px;
    margin-top: 1%;
}
#i11
{
    margin-left: 69%;
    width: 453px;
    height: 432px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 70.5%;
    margin-top: -39.9%;
}
.r31
{
    margin-left: 70%;
    margin-top: -69.7%;
    color: black;
}
#p48
{
    font-size: 30px;
}
#p49
{
    font-size: 20px;
    margin-right: 3%;
    margin-top: 1%;
}
#p410
{
    margin-top: 14%;
    font-size: 20px;
}


.page:nth-child(5) {
    background-color: #F4F3F9;
    height: 130%;
    width: 100%;
}
#p51
{
    padding: 5%;
    font-size: 50px;
}
.s1
{
    background-color: white;
    margin-left: 5%;
    padding: 0.5%;
    height: 67%;
    width: 50%;
    border-radius: 7px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.119);
}
#i12
{
    height: 40px;
    width: 80px;
}
#p52
{
    font-size: 40px;
    margin-left: 90px;
    margin-top: -47px;
}
#p53
{
    font-size: 30px;
    margin-left: 90px;
    margin-top: 1%;
}
#i13
{
    margin-left: 90px;
    margin-top: 2%;
    border-radius: 5px;
}

#p54
{
    margin-left: 90px;
    font-size: 20px;
    margin-right: 5%;
    margin-top: 1.5%;
}
#p55
{
    margin-left: 90px;
    margin-top: 1%;
    font-size: 20px;
    font-weight: 600;
}
#p56
{
    transform: rotate(-90deg);
    margin-top: -103%;
    margin-left: -93%;
    font-size: 35px;
    color: #4E84C4;
}
#p57
{
    transform: rotate(-90deg);
    margin-top: -46%;
    margin-left: 47%;
    font-size: 35px;
    color: #4E84C4;
}


.page:nth-child(6) {
    background-color: white;
    height: 110%;
    width: 100%;
}
#p61
{
    font-size:50px;
    padding: 5%;
}
#i14
{
    height: 60%;
    width: 20%;
    object-fit: cover;
    object-position: center;
    margin-left: 5%;
    margin-right: 3%;
    border-radius: 5px;
}
#i15
{
    height: 60%;
    width: 20%;
    object-fit: cover;
    object-position: center;
    margin-right: 3%;
    border-radius: 5px;
}
#i16
{
    height: 60%;
    width: 20%;
    object-fit: cover;
    object-position: center;
    margin-right: 3%;
    border-radius: 5px;
}
#i17
{
    height: 60%;
    width: 20%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
#p62
{
    font-size: 35px;
    margin-left: 6%;
    margin-top: -5%;
    color: white;
}
#p63
{
    font-size: 35px;
    margin-left:29.3% ;
    margin-top: -2.9%;
    color: white;
}
#p64
{
    font-size: 35px;
    margin-left: 52.9%;
    margin-right: 69%;
    margin-top: -4.5%;
    color: white;
}
#p65
{
    font-size: 35px;
    margin-left: 75.9%;
    margin-top: -4.5%;
    color: white;
}
.page:nth-child(7) {
    background-color: black;
    height: 90%;
    width: 100%;
}
#p71
{
    color: white;
    padding-top: 5%;
    padding-left: 10%;
    font-weight: 600;
    font-size: 16px;
}
#p72
{
    color: white;
    font-size: 50px;
    margin-left: 10%;
    margin-top: 2%;
}
#p73
{
    color: white;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 60%;
    margin-top: 2%;
}
#p74
{
    color: white;
    font-weight: 600;
    margin-left: 10%;
    margin-top: 2%;
    font-size: 25px;
}
#p75
{
    background-color: white;
    margin-left: 20%;
    margin-top: -2.2%;
    margin-right: 78%;
    padding: 0.5%;
    border-radius: 100%;
}
#i18
{
    margin-top: -23%;
    margin-bottom: 50%;
    margin-left: 50%;
    border-radius: 5px;
}

.page:nth-child(8) {
    background-color: #1E2222;
    height: 85%;
    width: 100%;
}
#p81
{
    color: white;
    margin-left: 27.5%;
    margin-right: 27.5%;
    font-size: 65px;
    text-align: center;
    padding-top: 8%;
}
#p82
{
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 23px;
    text-align: center;
    margin-top: 2%;
}
#p83
{
    color: white;
    font-size: 23px;
    text-align: center;
    margin-top: 2%;
    border: white solid 1px;
    border-radius: 100px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 43%;
    margin-left: 43%;
}

.page:nth-child(9) {
    background-color: black;
    height: 20%;
    width: 100%;
}
#i19
{
    margin-left: 5%;
    padding-top: 3%;
}
.ps1
{
    margin-top: -3%;
    margin-left: 20%;
}
.ps1 a
{
    text-decoration: none;
    color: white;
    margin-right: 1.5%;
}